{% extends 'base.html' %}
{% import 'macros.html' as macro %}
<!-- Styles block -->

{%block styles%}
    {{ super() }}
    <link href="https://fonts.googleapis.com/css?family=Ranga" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Upright" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{%endblock%}
<!-- Content block -->
{%block content%}
<div class="jumbotron text-center" style="background-color:cyan; color:khaki; padding: 45px 15px; ">
    <h1>Know me in one minute!</h1>
</div>
<div class="container" style="padding-bottom: 20px;">
    <a href="{{url_for('main.new_pitch')}}" class="btn btn-success">Create pitch</a>
</div>

<div class="container" style= "font-family: 'Cormorant Upright', serif;">
    <div class="row">
        <div class="col-md-4">
            <div class="well well-lg">
                <h3>Music Pitches</h3>
                <p>Do you want your music to go viral without making any effort? Pitch here in one minute, you will thank me later!.</p>
                <a href="{{url_for('main.music_pitches')}}" class="btn btn-primary -center">View</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well well-lg">
                <h3>School Pitches</h3>
                <p>School pitches are incredibly awesome when they are done in only one minute! Make your wish come true now!</p>
                <a href="{{url_for('main.school_pitches')}}" class="btn btn-primary -center">View</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well well-lg">
                <h3>Product Pitches</h3>
                <p>Do you want to get donors and sponsors for your project now? Pitch in one minute!</p>
                <a href="{{url_for('main.promotion_pitches')}}" class="btn btn-primary -center">View</a>
            </div>
        </div>
    </div>
</div>
{%endblock%}
